.bottom-bar {
    position: fixed;
    bottom: 0;
    background-color: var(--secondary);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 30em;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-around; /* Added for better spacing */
    padding: 0.5em; /* Added padding for better spacing */
    width: 100%; /* Added to ensure full width on all screen sizes */
}

.nav-icon {
    font-size: 1.5em;
    padding: 0.5em;
    margin: 0.5em;
    margin-top: 0;
    transition: 0.5s ease-in-out;
    border-radius: 100%;
    border: 7px solid var(--secondary);
}

.nav-active {
    transform: scale(1.05) translateY(-1em);
    background: linear-gradient(135deg, #23f, #6589ff);
    border: 7px solid var(--background);
    color: white;
}
