.custom-date-picker {
    font-family: Arial, sans-serif;
  }
  
  .datepicker-value {
    display: inline-block;
  }
  
  #date-picker {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: var(--secondary);
    outline: none;
  }
  
  #date-picker:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 0 0.1rem rgba(30, 144, 255, 0.25);
  }
  
  /* Custom styles for the dropdown arrow */
  #date-picker::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
  
  /* Custom styles for the dropdown arrow for Firefox */
  #date-picker:-moz-calendar-picker-indicator {
    filter: invert(1);
  }
  
  /* Custom styles for dropdown list */
  #date-picker::after {
    content: "\25BC"; 
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; 
  }
  
  #date-picker:hover {
    border-color: #007bff;
  }
  
  #date-picker option {
    background-color: #555;
    color: #fff;
  }
  
  #date-picker option:hover {
    background-color: #007bff;
  }
  