.transaction-card {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #31363f47;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .transaction-card:not(:last-child) {
    margin-bottom: 8px;
  }
  
  .icon {
    margin-right: 13px;
    background: rgb(158, 22, 22);
    border-radius: 10px;
    box-shadow: 2px 2px 3px #00000052;
    font-size: 2em;
    width: 18%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content:center;
  }
  
  .icon img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  
  .details {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .up,
  .down {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    padding-left: 0.3125rem; 
    padding-right: 0.3125rem; 
  }
  
  .cat {
    font-size: 1.5rem; 
  }
  
  .note {
    font-size: 1.25rem; 
  }
  
  .time,
  .mode {
    font-size: 1.125rem;
  }
  
  .amount {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .amt {
    font-size: 2rem;
  }
  